.text div, .img div {
    display:block;
    height:200px;
}
.img {
    position:absolute;
    top:0px;
    z-index:-1;
    width:100%;
}
.img .bWrap div {
    background-size:100% 100%;
    background-color:rgba(0,0,0,.3);
    opacity:.3;
    width:100%;
}
.text div span {
    line-height:80px;
    font-size:50px;
    padding-left:20px;
    color:white;
    text-shadow:3px 3px 0px rgba(0,0,0,.1);
    position:absolute;
    width:580px;
}
.text div a {
    float:right;
    margin-top:160px;
    margin-right:5px;
    font-size:20px;
    text-shadow:none;
    line-height:15px;
    padding:10px;
    color:white;
    background-repeat:no-repeat;
    padding-left:30px;
    transition:.3s;
    box-shadow:inset 0px 0px 0px white;
    position:relative;
    text-shadow:1px 1px 0px rgba(0,0,0,.15);
    margin-left:5px;
}
.text div a::before {
    position:absolute;
    left:6px;
    font-family:icons;
    content:"A";
}
.text div a:hover {
    box-shadow:inset 0px -3px 0px white;
    background-color:rgba(0,0,0,.1);
}
.text div a:active {
    transition:0s;
    box-shadow:inset 0px -3px 0px black;
    background-color:black;
    color:white;
}
.text div a.github::before {
    content:"B";
}
.text div a.demo::before {
    content:"H";
}
.text div a.gallery::before {
    content:"G";
}
#colorBars {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    z-index:-2;
}
#colorBars div {
    display:block;
    height:200px;
    width:100%;
}