.text div, .img div {
    display:block;
    height:200px;
}
.img {
    position:absolute;
    top:0px;
    z-index:-1;
    width:100%;
}
.img .bWrap div {
    background-size:100% 100%;
    background-color:rgba(0,0,0,.6);
    opacity:.3;
    box-shadow:inset -8px 0px 8px -5px black, inset 8px 0px 8px -5px black;
    width:100%;
}
.text div span {
    line-height:80px;
    font-size:50px;
    padding-left:20px;
    color:white;
    text-shadow:3px 3px 0px rgba(0,0,0,.1);
    position:absolute;
    width:580px;
}
.text div a {
    float:right;
    margin-top:145px;
    margin-right:15px;
    font-size:20px;
    background-color:white;
    text-shadow:none;
    line-height:20px;
    padding:10px;
    color:lightgray;
    color:black;
    opacity:.5;
    background-image:url('static/img/exit-door.svg');
    background-repeat:no-repeat;
    background-size:20px 20px;
    padding-left:30px;
    background-position:8px 10px;
    transition:.3s;
}
.text div a:hover {
    opacity:1;
    box-shadow:inset 0px -3px 0px black;
}
.text div a.github {
    background-image:url('static/img/github-logo.svg');
}
.text div a.gallery {
    background-image:url('static/img/gallery.svg');
}
#colorBars {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    z-index:-2;
}
#colorBars div {
    display:block;
    height:200px;
    width:100%;
}