@font-face {
    font-family:ubuntu;
    src:url('../font/ubuntu.ttf');
}
body {
    color:#353535;
}
* {
    font-family:ubuntu;
    user-select:none;
    cursor:arrow;
}
a {
    text-decoration:none;
    cursor:pointer;
}
#header {
    position:fixed;
    top:0px;
    left:0px;
    background-color:#353535;
    width:100%;
    height:40px;
    text-align:center;
}
#header .links {
    text-align:center;
    min-width:600px;
    max-width:1000px;
    display:inline-block;
    width:100%;
}
#header .links .logo {
    background-image:url('../img/logoWhite.svg');
    background-size:80% 80%;
    background-position:center;
    background-repeat:no-repeat;
}
#header .links .logo.active {
    background-image:url('../img/logoBlack.svg');
}
#header .links a {
    display:inline-block;
    line-height:30px;
    height:30px;
    width:80px;
    padding:5px;
    margin-left:calc(10% - 54px);
    margin-right:calc(10% - 54px);
    color:white;
    border-radius:0px;
}
#header .links a:first-child {
    margin-left:0px;
}
#header .links a:last-child {
    margin-right:0px;
}
#header .links a:hover {
    transition:.3s;
    border-radius:0px;
}
#header .links a:active {
    transition:.3s;
    background-color:gray;
    border-radius:100px;
}
#header .links a.active {
    transition:.3s;
    color:black;
    background-color:white;
    border-radius:0px;
}
#tab {
    position:fixed;
    top:40px;
    left:0px;
    width:100%;
    height:calc(100% - 40px);
    overflow:auto;
}
#tab .bWrap {
    max-width:1000px;
    min-width:600px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#tab div.active {
    display:block;
}
#tab .topBanner {
    width:100%;
    height:155px;
    text-align:center;
    font-size:60px;
    padding-top:45px;
}