#header {
    background-color:rgba(0,128,128,.8);
}
body {
    background-image:url('static/img/home/filter.png');
}
#tab .topBanner.swanimate, #header.swanimate {
    animation: swanim4 2s ease forwards;
}
#tab .topBanner {
    background-color:rgba(0,165,165,.7);
}
#tab .topBanner .logo {
    display:inline-block;
    vertical-align:-12px;
    font-family:logo;
    font-size:70px;
    margin-right:30px;
}
#tab .topBanner .ba {
    color:white;
    line-height:100px;
    display:inline-block;
    text-shadow:4px 4px #008080;
}
#tab #homePrev {
    background-color:rgba(0,128,128,.8);
    display:block;
    width:100%;
    height:calc(100% - 240px);
    min-width:600px;
    position:fixed;
    bottom:0px;
    left:0px;
}
#tab #homePrev #sb {
    position:absolute;
    bottom:calc(50% - 50px);
    left:calc(50% - 190px);
    width:380px;
    height:100px;
    box-shadow:inset -3px -3px 0px #808080, inset 3px 3px 0px #D2CEC6;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
    border-right:3px solid #424242;
    border-bottom:3px solid #424242;
    background-color:#D2CEC6;
    cursor:pointer;
    font-size:40px;
    background-image:url('static/img/home/so3.png');
    background-repeat:no-repeat;
    background-size:140px 140px;
	background-position:-20px -20px;
    text-align:right;
    padding-right:10px;
    color:black;
}
#tab #homePrev #sb:active {
    box-shadow: inset 3px 3px 0px #808080, inset -3px -3px 0px #D2CEC6;
    border-top: 3px solid #424242;
    border-left: 3px solid #424242;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    color: transparent;
    text-shadow: 3px 3px 0px black;
    background-position:-17px -17px;
}
#tab #homePrev #start {
    line-height:100px;
    display:inline-block;
    vertical-align:top;
}
#tab #homePrev.swanimate {
    animation: swanim2 2s ease forwards;
}
#tab #homePrev.swanimate #sb {
    animation: swanim .7s ease forwards, swanim3 2s ease-in-out forwards;
}
@keyframes swanim2 {
    30% {
        position:fixed;
        width:100%;
        height:100%;
        background-color:transparent;
    } 50% {
        position:fixed;
        width:100%;
        height:100%;
        background-color:transparent;
    } 100% {
        position:fixed;
        width:100%;
        height:100%;
        background-color:black;
    }
}
@keyframes swanim3 {
    30% {
        background-image:url('static/img/home/so3.png');
    } 50% {
        background-image:url('static/img/home/so3.png');
    } 100% {
        background-image:url('static/img/home/so2.png');
    }
}
@keyframes swanim4 {
    30% {
        transform:translate(0px, -240px);
    } 100% {
        transform:translate(0px, -240px);
    }
}
@keyframes swanim {
    0% {
        color:transparent;
    } 100% {
        width:100px;
        border:none;
        box-shadow:none;
        background-color:transparent;
        background-position:0px 0px;
        border-radius:200px;
        text-shadow:none;
        top:calc(50% - 100px);
        left:calc(50% - 100px);
        color:transparent;
        width:200px;
        height:200px;
        background-size:200px 200px;
        background-image:url('static/img/home/so2.png');
    }
}