#header {
	background-color:rgb(187, 101, 0);
}
h2, .topBanner, #header .active, input[type=submit] {
	color:rgb(187, 101, 0) !important;
}
ul  {
	display:inline-block;
	margin:auto;
	text-align:right;
	margin-bottom:50px;
	width:400px;
}
input, textarea {
	border:1px solid rgb(187, 101, 0);
	padding:5px;
	font-size:14px;
	background-color:white;
}
input {
	width:400px;
	height:20px;
	line-height:20px;
}
input[type=submit] {
	width:410px;
	height:30px;
}
textarea {
	width:400px;
	height:100px;
}