@font-face {
    font-family:vga;
    src:url('static/font/notfound.ttf');
}
* {
    font-family:vga;
}
pre {
    margin:0;
    display:none;
    font-size:28px;
    vertical-align:top;
}
#header, body {
    background-color:black;
    color:white;
}
#cursor {
    width:12px;
    height:24px;
    background-color:white;
    display:inline-block;
}
#tab {
overflow:hidden;
filter:blur(1px);   
}
#loady {
font-size:28px;
display:inline-block;
}